# Python
__pycache__/
*.pyc
.venv/
env/

# Data & Database 
# (We will ignore raw data, but keep the analytics DB for Streamlit Cloud)
warehouse/raw/
warehouse/staging/
*.log

# Docker
.dockerignore

# Secrets 
.env
auth.json
*.json
!warehouse/analytics/analytics.duckdb # This '!' tells Git to TRACK this specific file

# .env
GCP_PROJECT_ID=fleetintel360
GOOGLE_APPLICATION_CREDENTIALS=service_account.json