# Python
__pycache__/
*.pyc
.venv/
env/


# Docker
.dockerignore

# Secrets 
.env
auth.json
*.json


# Data & Database 
# Ignore the staging folder (temporary transformation data)
warehouse/staging/
*.log

# Force Git to track the database (even if it's handled by LFS)
!warehouse/analytics/analytics.duckdb 

# Force Git to track the raw data folder (so March files get saved!)
!warehouse/raw/

# General ignores
dbt_fleet_intel/target/
infra/terraform/.terraform/
infra/terraform/*.tfstate*
