# Web & Data
streamlit>=1.31.0
pandas>=2.1.4
altair>=5.2.0
matplotlib
duckdb>=0.10.0
db-dtypes

# GCP & BigQuery
google-cloud-bigquery
google-cloud-pubsub
google-auth

# Transformation
dbt-bigquery

# Utils & Simulation
faker
python-dotenv
requests
pytest