name: Fleet Data Pipeline (Cloud Native Branch)

on:
  workflow_dispatch: 

jobs:
  placeholder:
    runs-on: ubuntu-latest
    steps:
      - run: echo "This is a placeholder to enable the button"
      